.entrada {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
}
h2 {
  margin-bottom: 4px;
  color: #0077aa;
}

#busqueda {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 15px;
}
